.forecast {
  max-width: 70%;
  @media (max-width: 800px) {
    & {
      max-width: 85%;
    }
  }
  color: white;
  height: 100%;
  .forecast__search {
    input {
      background: #260956;
      font-size: 20px;
      padding: 15px 30px;
      @media (max-width: 1700px) {
        & {
          font-size: 18px;
        }
      }
      @media (max-width: 1300px) {
        & {
          font-size: 16px;
          padding: 10px 25px;
        }
      }
      @media (max-width: 480px) {
        & {
          font-size: 14px;
          padding: 8px 15px;
        }
      }
    }
    button {
      padding: 0 30px;
      font-size: 20px;
      @media (max-width: 1700px) {
        & {
          font-size: 18px;
        }
      }
      @media (max-width: 1300px) {
        & {
          font-size: 16px;
          padding: 10px 25px;
        }
      }
      @media (max-width: 480px) {
        & {
          font-size: 14px;
          padding: 8px 15px;
        }
      }
      background: #EB2200;
    }
  }
  .forecast__main {
    .forecast__img {
      width: 265px;
      @media (max-width: 1700px) {
        & {
          width: 150px;
        }
      }
      @media (max-width: 1300px) {
        & {
          width: 100px;
        }
      }
      @media (max-width: 800px) {
        & {
          width: 150px;
        }
      }
    }
    h1 {
      font-size: 80px;

    }
    h2 {
      font-size: 40px;
      color: #CECECE;
    }
    @media (max-width: 1700px) {
      h1 {
        font-size: 60px;
      }
      h2 {
        font-size: 30px;
      }
    }
    @media (max-width: 1300px) {
      h1 {
        font-size: 45px;
      }
      h2 {
        font-size: 20px;
      }
    }
    @media (max-width: 1300px) {
      h1 {
        font-size: 40px;
      }
      h2 {
        font-size: 20px;
      }
    }
    .forecast__geo {
      img {
        width: 30px;
        @media (max-width: 1700px) {
          & {
            width: 26px;
          }
        }
        @media (max-width: 1300px) {
          & {
            width: 20px;
          }
        }


      }
      margin-top: 10px;
      font-size:24px;
      background: #461BA3;
      padding: 12px 30px;
      border-radius: 10px;
      @media (max-width: 1300px) {
        span {
          font-size: 15px;
        }

      }
      @media (max-width: 1700px) {
        & {
          font-size: 18px;
          padding: 6px 20px;
        }
      }
      @media (max-width: 1300px) {
        span {
          font-size: 12px;
        }

      }
    }
  }
  .forecast-hourly {
    .forecast-hourly__item {
      @media (max-width: 1300px) {
        h2 {
          font-size: 18px;
          @media (max-width: 1300px) {
            & {
              font-size: 15px;
            }
          }
        }

      }
      img {
        width: 55px;
        @media (max-width: 1700px) {
          & {
            width: 45px;
          }
        }
        @media (max-width: 1300px) {
          & {
            width: 35px;
          }
        }

        @media (max-width: 800px) {
          & {
            width: 28px;
          }
        }
        @media (max-width: 480px) {
          & {
            width: 23px;
          }
        }

      }
    }

    .hourly-time {
      color: #CACACA;
      @media (max-width: 1300px) {
        & {
          font-size: 12px;
        }
      }
      @media (max-width: 480px) {
        & {
          font-size: 10px;
        }
      }
    }
  }
  .forecast-daily {
    .forecast-daily__item {
      h2 {
        @media (max-width: 1700px) {
          & {
            font-size: 20px;
          }
        }
        @media (max-width: 1300px) {
          & {
            font-size: 16px;
          }
        }
        @media (max-width: 480px) {
          & {
            font-size: 14px;
          }
        }
      }
      img {
        width: 45px;
        @media (max-width: 1700px) {
          & {
            width: 35px;
          }
        }
        @media (max-width: 1300px) {
          & {
            width: 25px;
          }
        }
      }
      span {
        font-size: 23px;
        @media (max-width: 1300px) {
          & {
           font-size: 18px;
          }
        }
      }
      .forecast-daily__degs {
        min-width: 150px;
        @media (max-width: 1300px) {
          & {
            min-width: 102px;
          }
          span {
            font-size: 16px;
          }
        }
      }
      .night-deg {
        color: #8E8E8E;
      }
    }
  }
}
.empty__title {
  font-size: 70px;
}
.empty__text {
  font-size: 24px;
}
@media (max-width: 1300px) {
  .empty__title {
    font-size: 50px;
  }
  .empty__text {
    font-size: 19px;
  }
  .empty__img {
    width: 120px;
  }
  .empty {
    gap: 15px;
  }
}
@media (max-width: 600px) {
  .empty__title {
    font-size: 36px;
  }
  .empty__text {
    font-size: 16px;
  }
  .empty__img {
    width: 80px;
  }
  .empty {
    gap: 5px;
  }
}